We will construct a linear model that explains the relationship a car's mileage (mpg) has with its other attributes

### Import Libraries

#### Step 1: Import the libraries

In [5]:
import numpy as py
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split #Sklearn package's randomized data splitting function
from sklearn.linear_model import LinearRegression
import pandas as pd

#### Step 2: Load the file

#### Load and review data

In [9]:
car_df = pd.read_csv('./data-files/auto-mpg.csv')
car_df.shape

(398, 9)

In [10]:
car_df.sample(10)

,mpg,cyl,disp,hp,wt,acc,yr,origin,car name
121,15.0,8,318.0,150,3399,11.0,73,1,dodge dart custom
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
249,19.9,8,260.0,110,3365,15.5,78,1,oldsmobile cutlass salon brougham
139,14.0,8,302.0,140,4638,16.0,74,1,ford gran torino (sw)
223,15.5,8,318.0,145,4140,13.7,77,1,dodge monaco brougham
30,28.0,4,140.0,90,2264,15.5,71,1,chevrolet vega 2300
171,24.0,4,134.0,96,2702,13.5,75,3,toyota corona
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
115,15.0,8,350.0,145,4082,13.0,73,1,chevrolet monte carlo s
163,18.0,6,225.0,95,3785,19.0,75,1,plymouth fury